 /* setting font */
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @font-face {
     font-family: coding;
     src:url(fonts/coding/NanumGothicCoding-Regular.ttf);
 }
 @font-face {
     font-family: aboutme;
     src:url(fonts/aboutme/HindSiliguri-Regular.ttf);
 }
 
 html, body {
     /* scroll-behavior: smooth; */
     height: 100%;
     margin: 0;
     background-color: #4255b8;
 }
 
 /* for everything */
 * {
     /* background-color: #20338d; */
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     justify-content: center;
 }
 
 /* making the header with boxes */
 header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #4255b8;

 }
 /* decorating the text */
 li, a, button {
     font-family: coding;
     font-weight: 500;
     font-size: 16px;
     color: #dce1e2;
     text-decoration: none;
 }
 
 /* decorating links (spacing and animations) */
 .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    padding: 0px 20px;
    display: inline-block;
  }
  .nav-links li:nth-child(1),
  .nav-links li:nth-child(2) {
    padding: 0px 5px;
  }
  
  .nav-links li,
  .nav-links li a {
    font-size: 16px;
    transition: color 0.3s ease 0s;
    transition: font-size 0.3s ease 0s;
  }

  .nav-links li a[name="introduction"] {
    display: none;
  }
  .contact-button {
    padding: 12px 25px;
    border-radius: 50px;
    background-color: rgb(26, 153, 160, 0.8);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s !important;
    /* Add any additional styles you want for the button */
}

.contact-button:hover {
    padding: 16px 31px;
    background-color: rgb(3, 125, 132);
    /* Add any additional hover styles you want for the button */
}

.nav-links li:not(:last-child) a:hover {
    transition: color 0.3s ease 0s, font-size 0.3s ease 0s;
    color: #0088a9;
    font-size: 20px;
}

.navigation-bar-icon {
    overflow: hidden;
    position: fixed;
    z-index: 3;
    font-size: 25px;
    display: none;
}
@media screen and (max-width: 900px) {
    header {
        height: 7%;
    }
    #top-section {
        position: fixed;
        z-index: 3;
        /* background-color: #38499c; */
    }
    .navigation-bar-icon {
        position: fixed;
        display: block;
    }
    .nav-links li {
        display: none;
        text-align: center;
    }
    .nav-links li:not(:last-child) a:hover {
        font-size: 30px;
    }
    .nav-links li:last-child a:hover {
        font-size: 30px;
    }
    .responsive {
        display: block;
        overflow: hidden;
        position: fixed;
        justify-content: center;
        text-align: center;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(#32418c, .5);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        /* background-color: #32418c;
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(16px); */
        z-index: 3;
    } 
    .responsive li {
        position: relative;
        top: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 45px;
        display: block;
        text-align: center;
        padding-right: 40px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
    }
    .responsive li a {
        font-size: 25px;
    }
    .responsive li a[name="mygame"]{
        display: none;
    }
    .responsive li a[name="introduction"]{
        display: block;
    }
    .responsive .contact-button {
        background-color: transparent;
    }
    .responsive .contact-button:hover {
        transition: color 0.3s ease 0s, font-size 0.3s ease 0s;
        color: #0088a9;
        font-size: 20px;
    }
}
  
  

 /* HELLO SECTION START */
 .introduction {
     font-family: coding;
     font-size: 16px;
     margin: auto;
     /* height: 90.15%; */
     height: 75%;
     width: 400px;
     display: flex;
     flex-direction: column;
     text-align: center;
     /* border-bottom: solid black 3px; */
     /* background-color: rgb(5, 79, 52); */
 }
 @-moz-document url-prefix() {
    .introduction {
      font-size: 15.2px;
    }
  }
  
 .hello {
     position: relative;
 }
 /* setting before and after locations */
 .hello::before,
 .hello::after {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
 }
 .hello::before {
     /* background: rgb(212, 27, 27); */
     background-color: #4255b8;
     height: 41px;
     /* forwards make it stay at the end */
     animation: 
      typewritter 3s steps(25) 1s forwards;
 }
 .hello::after {
     width: 10px;
     background: black;
     animation: 
      typewritter 3s steps(25) 1s forwards,
      blinkmouse 750ms steps(25) infinite;
 
 }
 @keyframes typewritter {
     /* ending point */
     to {
         /* left moving away */
         left: 100%
     }
 }
 @keyframes blinkmouse {
     to {
         background: transparent;
     }
 }
 .welcome {
     margin-top: 50px;
     opacity: 0;
     transform: translateY(3rem);
     animation:
      welcome 2s ease 4.2s forwards;
 }
 @keyframes welcome {
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }
 @media screen and (max-width: 800px) {
    .hello {
        left: 50%;
        transform: translateX(-50%);
        width: 320px;
        height: 30px;
        font-size: 25px;
    }
    .welcome {
        font-size: 16px;
    }
    .hello::before {
        top: -4px;
        bottom: 1px;
        animation:
        typewritter 3s steps(25) 1s forwards;

    }
    .hello::after {
        top: -2px;
        bottom: 1px;
        width: 5px;
        animation:
        typewritter 3s steps(25) 1s forwards,
        blinkmouse 750ms steps(25) infinite;

    }
}

 /* HELLO SECTION FINISH */
 
 /* ABOUT ME SECTION START */
 .about-me {
     /* decorating the div look */
     /* background-color: yellow; */
     margin: auto;
     color:rgb(214, 218, 219);
     height: 75%;
     width: 100%;
     /* putting the elements inside at the center */
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
 .me-text {
     width: 50%;
     max-height:70%;
     font-family: 'Poppins', sans-serif;
     font-size: 1.3vw;
     text-align: justify;
     margin: 50px;
 }
#aboutme-link {
    color: rgb(108, 176, 210);
    font-size: inherit;
    text-decoration: underline;
    transition: color 150ms;
}
    /* display: inline-block;
    font-weight: inherit;
    text-decoration: underline; */
#aboutme-link:hover {
    color: rgb(70, 125, 153);

}
 .my-img {
     width: 15%;
     cursor: default;
     opacity: 0;
 }

/* about-me section transitions and animations */
.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .slide-in {
    position: relative;
    transform: translateX(50%);
    transition: transform 1.5s ease-in-out,
    opacity 1.5s ease-in-out;
  }
  
  .fade-in.animate {
    opacity: 1;
  }
  
  .slide-in.animate {
    opacity: 1;
    transform: translateX(0);
  }
    
@media screen and (max-width: 1000px) {
    .me-text {
        font-size: 100%;
    }
    .my-img {
        width: 180px;
    }
    .slide-in {
        transform: translateX(40%);
    }
}
@media screen and (max-width: 900px) {
    .slide-in {
        transform: translateX(30%);
    }
}
@media screen and (max-width: 800px) {
    .about-me {
        /* height: 40rem; */
        height: auto;
        min-height: 75%;
    }
    .me-text {
        width: 75%;
        height: 50%;
        font-size: 90%;
        margin: 0px;
        margin-top: 50px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .my-img {
        width: 25%;
        padding-bottom: 20px;

    }
    .slide-in {
        transform: translateX(70%);
    }
}

@media screen and (max-width: 550px) {
    .about-me {
        /* height: 32rem; */
        height: auto;
        min-height: 70%;
    }
    .me-text {
        margin: 10px;
        width: 85%;
        font-size: 75%;
    }
    .my-img {
        width: 25%;
        margin-top: 8%;
        margin-bottom: 0%;
    }
    .slide-in {
        transform: translateX(50%);
    }
} 
@media only screen and (max-width: 415px) {
    .about-me {
        width: 100%;
        height: auto;
        min-height: 65%;
    }
    .me-text {
        width: 85%;
        font-size: 70%;
    }
    .my-img {
        width: 30%;
        margin-bottom: 10%;
    }
}
 /* ------------------------------- */
 /* ------------------------------- */
 /*     ABOUT ME SECTION FINISH     */
 /* ------------------------------- */
 /* ------------------------------- */
 
 .border-bottom {
     margin: auto;
     width: 400px;
     border-bottom: solid rgb(0, 0, 0) 3px;
 }
 .scroll-container {
    width: 100%;
    height: 43rem;
    scroll-behavior: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
    scroll-behavior: smooth; /* Add smooth scrolling */
    scrollbar-width: thin;
  }
  
::-webkit-scrollbar {
    height: 18px;
    width: 18px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #7087d4; /* Color of the scrollbar thumb */
    border-radius: 100vw;
    border: .25em solid #f1f1f1;
  }
::-webkit-scrollbar-thumb:hover {
    background-color: #5c73bd; /* Color of the scrollbar thumb */

}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    margin-block: 5em;
    border-radius: 100vw;
  }
  
::-ms-overflow-style {
    scrollbar-color: #8070d4 #f1f1f1; /* Color of the scrollbar thumb and track */
  }
  
  
 .container {
     flex: 1 0 100%;
 }
 .content {
     font-family: aboutme;
     margin: auto;
     min-height: 32rem;
     width: 33rem;
     border-radius: 80px;
     box-shadow: -1px 0 10px #000;
     padding: 7px 17px 0px 17px;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
 }
 .carousel {
     width: 100%;
     height: 23rem;
     position: relative;
     margin-top: 15px;
     border-radius: 80px;
 }
 .carousel > ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .slide {
     position: absolute;
     width: 29rem;
     height: 23rem;
     margin: auto;
     border-radius: 80px;
     inset: 0;
     opacity: 0;
     transition: 200ms opacity ease-in-out;
     transition-delay: 200ms;
 }
 .container:nth-child(2) .slide {
     width: 400px;
     height: 380px;
     object-position: center;
     margin: auto;
 }
 .container:nth-child(3) .slide {
     width: 300px;
     height: 380px;
     object-position: center;
     margin: auto;
 }
 .slide[data-active] {
     opacity: 1;
     z-index: 1;
     transition-delay: 0ms;
 }
 .slide > img {
     width: 65%;
     height: 90%;
     object-position: center;
 }
 .carousel-button {
     position: absolute;
     z-index: 2;
     background: none;
     border: none;
     border-radius: .25rem;
     font-size: 2.5rem;
     top: 48%;
     transform: translateY(-50%);
     cursor: pointer;
     color: rgba(255,255,255,.5);
     padding: 0 .25rem;
     background-color: rgba(0,0,0,.1);
 }
 .carousel-button.prev {
     left: 1rem;
 }
 .carousel-button.next {
     right: 1rem;
 }
 .carousel-button:hover,
 .carousel-button:focus {
     color: white;
     background-color: rgba(0,0,0,.2);
 }
 .carousel-button:focus {
     outline: 1px solid black;
 }
 .input-slides {
     width: 100%;
     position: absolute;
     bottom: 0.5rem;
     z-index: 1;
 }
 .input-slides input {
     font-size: 4rem;
     cursor: pointer;
 }
 .input-slides input:checked {
     color: black;
 }

 .container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .container.visible {
    opacity: 1;
  }
  .project-description {
    padding-bottom: 5px;
    border-radius: 80px;
  }
@media screen and (max-width: 1300px) {
    .scroll-container {
        overflow-x: scroll;
    }
    .border-bottom2 {
        margin-top: 50px;
    }
}
@media screen and (max-width: 900px) {
    .scroll-container {
        overflow-x: scroll;
        height: 40rem;
    }
    .border-bottom2 {
        margin-top: 50px;
    }
    .content {
        /* height: 32.5rem; */
        width: 30rem;
        /* display: block;
        overflow: auto; */
        height: auto;
        min-height: 100% !important;
    }
    .carousel {
        margin-top: 10px;
        height: 20rem;
    }
    .scroll-container .container:nth-child(2) .carousel {
        margin-top: 10px;
        height: 21rem;
    }
    .scroll-container .container:nth-child(3) .carousel {
        margin-top: 10px;
        height: 20.9rem;
    }
    .slide {
        width: 26rem;
        height: 20rem;
    }
    .container:nth-child(2) .slide {
        width: 370px;
        height: 340px;
    }
    .container:nth-child(3) .slide {
        width: 250px;
        height: 340px;
    }

}
@media screen and (max-width: 800px) {
    .scroll-container {
        overflow-x: scroll;
        height: 40rem;
    }
    .content {
        /* padding: 3px 17px 0px 17px; */
        /* height: 32.5rem; */
        width: 28rem;
        /* display: block;
        overflow: auto; */
        height: auto;
        min-height: 100% !important;
    }
    .carousel {
        margin-top: 10px;
    }
    .scroll-container .container:nth-child(3) .slide > img {
        margin-top: 15px;
        height: 85%;
    }
    .scroll-container .container:nth-child(3) .input-slides {
        position: absolute;
        bottom: -7px;
    }
    .scroll-container .container:nth-child(3) .carousel {
        height: 19rem;
    }
    .scroll-container .container:nth-child(3) .project-description {
        padding-bottom: 10px;
    }
    .carousel-button {
        font-size: 2rem;
    }
     .container:nth-child(1) .slide {
        padding-right: 5px;
     }
     .container:nth-child(2) .slide {
        padding-right: 5px;
    }
    .container:nth-child(3) .slide {
        padding-right: 5px;
    }
}
@media screen and (max-width: 700px) {
    .scroll-container {
        width: 100%;
        height: 125rem;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .border-bottom2 {
        margin-top: 0px;
    }
    .container {
        flex: 0 0 0%;
        /* height: 40rem; */
    }
    .content {
        height: 33rem;
        height: auto;
        min-height: 100% !important;
        /* display: block;
        overflow: auto; */
    }
}
@media screen and (max-width: 550px) {
    .scroll-container {
        height: 128rem;
    }
    .content {
        width: 24rem;
        /* height: 34.5rem; */
        /* display: block;
        overflow: auto; */
        height: auto;
        min-height: 100% !important;
    }
    .carousel-button {
        font-size: 1.7rem;
        padding: 0 -0.5rem;
    }
    .scroll-container .container:nth-child(1) .prev {
        left: 0px;
    }
    .scroll-container .container:nth-child(1) .next {
        right: 0px;
    }
    .scroll-container .container:nth-child(2) .prev {
        left: -2px;
    }
    .scroll-container .container:nth-child(2) .next {
        right: -2px;
    }
    .scroll-container .container:nth-child(3) .prev {
        left: 20px;
    }
    .scroll-container .container:nth-child(3) .next {
        right: 20px;
    }
    .next {
        position: absolute;
        right: -10;
    }
    .scroll-container .container:nth-child(1) .slide > img {
        margin-right: 62px;
    }
    .scroll-container .container:nth-child(2) .slide > img {
        margin-right: 13px;
    }
}
@media screen and (max-width: 420px) {
    .content {
        width: 22rem;
        height: auto;
        min-height: 100% !important;
        /* height: 36rem; */
        /* display: block;
        overflow: auto; */
    }
    .scroll-container .container:nth-child(1) .slide > img {
        margin-right: 93px;
        margin-top: 10px;
        height: 17.5rem;
        width: 16rem;
    }
    .scroll-container .container:nth-child(1) .prev {
        left: -9px;
    }
    .scroll-container .container:nth-child(1) .next {
        right: -9px;
    }
    .scroll-container .container:nth-child(1) .input-slides {
        bottom: -5px;
    }
    /* .scroll-container .container:nth-child(2) .content {
        height: 34rem;
    } */
    .scroll-container .container:nth-child(2) .slide > img {
        margin-right: 45px;
        margin-top: 7px;
        height: 18.5rem;
    }
    .scroll-container .container:nth-child(2) .input-slides {
        bottom: 7px;
    }
    .scroll-container .container:nth-child(3) .carousel{
        height: 21rem;
    }
    /* .scroll-container .container:nth-child(3) .content {
        height: 36.5rem;
    } */
    .scroll-container .container:nth-child(3) .slide > img {
        margin-top: 10px;
        margin-left: 5px;
        height: 19rem;
    }
    .scroll-container .container:nth-child(3) .input-slides {
        bottom: -10px;
    }
    /* .scroll-container .content:nth-child(3) {
        width: 22rem;
        height: 35rem;
    } */
}
    /* FOOTER */
 
 .footer {
     position: relative;
     box-sizing: border-box;
     padding-top: 30px;
     /* background-color: #304146; */
 }
 .footer .social {
     text-align: center;
     padding-bottom: 10px;
     /* color: #4b4c4d; */
 }
 .footer .social a {
     font-size: 25px;
     background-color: rgb(245, 243, 243);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
     /* border: 1px solid white; */
     width: 43px;
     height: 43px;
     display: inline-block;
     align-items: center;
     text-align: center;
     border-radius: 50%;
     margin: 0px 8px;
     transition: transform 300ms;
 }
 .footer .social a:hover {
     transform: translateY(-10%);
 }
 .footer .social .fab {
     font-size: 33px;
     color: #000;
     transition: 300ms;
     background-color: transparent;
     top: 50%;
     transform: translateY(15%);
 
 }
  
 .footer ul {
     height: 30px;
     margin-top: 0;
     padding: 0;
     list-style: none;
     font-size: 18px;
     line-height: 1.6;
     margin-bottom: 0;
     text-align: center;
 }
 .footer ul li {
     display: inline-block;
     margin-top: 10px;
     padding: 0px 20px;
 }
 .footer ul li a {
     text-decoration: none;
     opacity: 0.8;
     transition: 300ms;
 }
 .footer ul li a:hover {
     color: #0088a9;
     font-size: 20px;
 }
 .footer .copyright {
    margin-top: 25px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    font-size: 13px;
    color: #aaa;
}

@media screen and (max-width: 800px) {
 .footer .social a {
    width: 37px;
    height: 37px;
 }
 .footer .social .fab {
    font-size: 29px;
 }
 .footer .social a {
    font-size: 15px;
 }
 .footer ul li a {
    font-size: 15px;
 }
 .footer .copyright {
    font-size: 10px;
 }
}