 /* setting font */
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @font-face {
     font-family: coding;
     src:url(fonts/coding/NanumGothicCoding-Regular.ttf);
 }
 @font-face {
     font-family: aboutme;
     src:url(fonts/aboutme/HindSiliguri-Regular.ttf);
 }
 
 html, body {
     /* scroll-behavior: smooth; */
     height: 100%;
     margin: 0;
     background-color: #4255b8;
     overflow-x: hidden;
 }
 
 /* for everything */
 * {
     /* background-color: #20338d; */
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     justify-content: center;
 }
 
 /* CUSTOM SCROLL BAR */
 ::-webkit-scrollbar {
    height: 18px;
    width: 18px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #7087d4; /* Color of the scrollbar thumb */
    border-radius: 100vw;
    border: .25em solid #f1f1f1;
  }
::-webkit-scrollbar-thumb:hover {
    background-color: #5c73bd; /* Color of the scrollbar thumb */

}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    margin-block: 5em;
    border-radius: 100vw;
  }
  
::-ms-overflow-style {
    scrollbar-color: #8070d4 #f1f1f1; /* Color of the scrollbar thumb and track */
  }
  

 /* making the header with boxes */
 header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #4255b8;

 }
 /* decorating the text */
 li, a, button {
     font-family: coding;
     font-weight: 500;
     font-size: 16px;
     color: #dce1e2;
     text-decoration: none;
 }
 
 /* decorating links (spacing and animations) */
 .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    padding: 0px 20px;
    display: inline-block;
  }
  /* .nav-links li:nth-child(1),
  .nav-links li:nth-child(2) {
    padding: 0px 5px;
  } */
  
  .nav-links li,
  .nav-links li a {
    font-size: 16px;
    transition: color 0.3s ease 0s;
    transition: font-size 0.3s ease 0s;
  }

  .nav-links li a[name="introduction"] {
    display: none;
  }
  .contact-button {
    padding: 12px 25px;
    border-radius: 50px;
    background-color: rgb(26, 153, 160, 0.8);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s !important;
    /* Add any additional styles you want for the button */
}

.contact-button:hover {
    padding: 16px 31px;
    background-color: rgb(3, 125, 132);
    /* Add any additional hover styles you want for the button */
}

.nav-links li:not(:last-child) a:hover {
    transition: color 0.3s ease 0s, font-size 0.3s ease 0s;
    color: #0088a9;
    font-size: 20px;
}

.navigation-bar-icon {
    overflow: hidden;
    position: fixed;
    z-index: 3;
    font-size: 25px;
    display: none;
}
@media screen and (max-width: 900px) {
    header {
        height: 7%;
    }
    #top-section {
        position: fixed;
        z-index: 3;
        /* background-color: #38499c; */
    }
    .navigation-bar-icon {
        position: fixed;
        display: block;
    }
    .nav-links li {
        display: none;
        text-align: center;
    }
    .nav-links li:not(:last-child) a:hover {
        font-size: 30px;
    }
    .nav-links li:last-child a:hover {
        font-size: 30px;
    }
    .responsive {
        display: block;
        overflow: hidden;
        position: fixed;
        justify-content: center;
        text-align: center;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(#32418c, .5);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        /* background-color: #32418c;
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(16px); */
        z-index: 3;
    } 
    .responsive li {
        position: relative;
        top: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 45px;
        display: block;
        text-align: center;
        padding-right: 40px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
    }
    .responsive li a {
        font-size: 25px;
    }
    .responsive li a[name="mygame"]{
        display: none;
    }
    .responsive li a[name="introduction"]{
        display: block;
    }
    .responsive .contact-button {
        background-color: transparent;
    }
    .responsive .contact-button:hover {
        transition: color 0.3s ease 0s, font-size 0.3s ease 0s;
        color: #0088a9;
        font-size: 20px;
    }
}
  
  

 /* HELLO SECTION START */
 .introduction {
     font-family: coding;
     font-size: 16px;
     margin: auto;
     /* height: 90.15%; */
     height: 75%;
     width: 400px;
     display: flex;
     flex-direction: column;
     text-align: center;
     /* border-bottom: solid black 3px; */
     /* background-color: rgb(5, 79, 52); */
 }
 @-moz-document url-prefix() {
    .introduction {
      font-size: 15.2px;
    }
  }
  
 .hello {
    color: black;
     position: relative;
 }
 /* setting before and after locations */
 .hello::before,
 .hello::after {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
 }
 .hello::before {
     /* background: rgb(212, 27, 27); */
     background-color: #4255b8;
     height: 41px;
     /* forwards make it stay at the end */
     animation: 
      typewritter 3s steps(25) 1s forwards;
 }
 .hello::after {
     width: 10px;
     background: black;
     animation: 
      typewritter 3s steps(25) 1s forwards,
      blinkmouse 750ms steps(25) infinite;
 
 }
 @keyframes typewritter {
     /* ending point */
     to {
         /* left moving away */
         left: 100%
     }
 }
 @keyframes blinkmouse {
     to {
         background: transparent;
     }
 }
 .welcome {
    color: black;
     margin-top: 50px;
     opacity: 0;
     transform: translateY(3rem);
     animation:
      welcome 2s ease 4.2s forwards;
 }
 @keyframes welcome {
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }
 @media screen and (max-width: 800px) {
    .hello {
        left: 50%;
        transform: translateX(-50%);
        width: 320px;
        height: 30px;
        font-size: 25px;
    }
    .welcome {
        font-size: 16px;
        margin-top: 40px;
    }
    .hello::before {
        top: -4px;
        bottom: 1px;
        animation:
        typewritter 3s steps(25) 1s forwards;

    }
    .hello::after {
        top: -2px;
        bottom: 1px;
        width: 5px;
        animation:
        typewritter 3s steps(25) 1s forwards,
        blinkmouse 750ms steps(25) infinite;

    }
}
@media screen and (max-width: 400px) {
    .hello {
        left: 50%;
        transform: translateX(-50%);
        width: 240px;
        height: 30px;
        font-size: 19px;
    }
    .welcome {
        font-size: 12px;
        margin-top: 20px;
    }
    .hello::before {
        top: -4px;
        bottom: 1px;
        animation:
        typewritter 3s steps(25) 1s forwards;

    }
    .hello::after {
        top: -2px;
        bottom: 9px;
        width: 5px;
        animation:
        typewritter 3s steps(25) 1s forwards,
        blinkmouse 750ms steps(25) infinite;

    }
}
@media screen and (max-width: 370px) {
    .hello {
        left: 50%;
        transform: translateX(-50%);
        width: 215px;
        height: 26px;
        font-size: 17px;
    }
    .welcome {
        font-size: 13px;
        margin-top: 20px;
    }
    .hello::before {
        top: -3px;
        bottom: 0px;
        animation:
        typewritter 3s steps(25) 1s forwards;

    }
    .hello::after {
        top: -1px;
        bottom: 7px;
        width: 4px;
        animation:
        typewritter 3s steps(25) 1s forwards,
        blinkmouse 750ms steps(25) infinite;

    }
}
@media screen and (max-width: 360px) {
    .hello {
        left: 50%;
        transform: translateX(-50%);
        width: 189px;
        height: 26px;
        font-size: 15px;
    }
    .welcome {
        font-size: 12px;
        margin-top: 20px;
    }
    .hello::before {
        top: -3px;
        bottom: 0px;
        animation:
        typewritter 3s steps(25) 1s forwards;

    }
    .hello::after {
        top: -3px;
        bottom: 9px;
        width: 3px;
        animation:
        typewritter 3s steps(25) 1s forwards,
        blinkmouse 750ms steps(25) infinite;

    }
}
 /* HELLO SECTION FINISH */
 
.button-section {
    margin-top: 70px;
    width: 100%;
    text-align: center;
    height: 60px;
}
.button-section > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.button-section > ul > li {
    display: inline-block;
}
.button-section > ul > li > button {
    font-size: 40px;
    border-radius: 20px;
    padding: 15px;
    color: rgba(230, 230, 230, 0.5);
    background-color: #242582;
    cursor: pointer;
    transition: all 0.3s;
  }
  
.button-section > ul > li > button:hover {
    background-color: #3546b0;
    color: rgba(240, 240, 240, 0.9);
    font-size: 45px;
}
.button-section > ul > li > .project-active {
    background-color: #465be1;
    color: rgba(250, 250, 250, 1);
    font-size: 47px;
    transition: all 0.3s;
}
.button-section > ul > li > button:focus {
    background-color: #465be1;
    color: rgba(250, 250, 250, 1);
    font-size: 47px;
    transition: all 0.3s;
}

.vertical-line {
    height: 100px;
    width: 7px;
    border-radius: 10px;
    margin: 0px 20px;
    background-color: #161d4a;

}

#select-project {
    display: none;
}
@media only screen and (max-width: 1200px) {
    .button-section > ul > li > button {
        font-size: 30px; /* Adjust font size for smaller screens */
      }
      
      .button-section > ul > li > button:hover {
        font-size: 32px; /* Adjust font size for hover on smaller screens */
      }
      
      .button-section > ul > li > .project-active,
      .button-section > ul > li > button:focus {
        font-size: 35px; /* Adjust font size for active/focused state on smaller screens */
      }
      
      .vertical-line {
        height: 60px; /* Adjust height for smaller screens */
        width: 5px; /* Adjust width for smaller screens */
        border-radius: 5px; /* Adjust border radius for smaller screens */
        margin: 0px 10px; /* Adjust margin for smaller screens */
      }
}
@media only screen and (max-width: 900px) {
    .button-section > ul {
        margin-right: 0px;
    }
    .button-section > ul > li > button {
        font-size: 25px; /* Adjust font size for smaller screens */
        padding: 8px;
      }
      
      .button-section > ul > li > button:hover {
        font-size: 27px; /* Adjust font size for hover on smaller screens */
      }
      
      .button-section > ul > li > .project-active,
      .button-section > ul > li > button:focus {
        font-size: 30px; /* Adjust font size for active/focused state on smaller screens */
      }
      
      .vertical-line {
        height: 40px; /* Adjust height for smaller screens */
        width: 3px; /* Adjust width for smaller screens */
        border-radius: 5px; /* Adjust border radius for smaller screens */
        margin: 0px 5px; /* Adjust margin for smaller screens */
      }
}
@media only screen and (max-width: 600px) {
    .button-section > ul {
        display: none;
    }
    #select-project {
        display: block;
        width: 100%;
        position: relative;
        list-style: none;
    }
    #select-project button {
        background-color: #242582;
        position: relative;
        width: 230px;
        height: 60px;
        font-size: 35px;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #select-project > li > button > i {
        margin-top: 3px;
        margin-left: auto;
    }
    #dropdown-menu > li {
        display: block;
        width: 100%;
        background-color: #242582;
    }
    #dropdown-menu > li > button {
        z-index: 999;
        width: 100%;
    }
    #dropdown-menu {
        opacity: 0;        
        position: relative;
        z-index: 2;
        width: 100%;
        transition: 400ms ease-in-out;
    }
    #dropdown-menu.show-dropdown-menu {
        opacity: 1;
    }
      
    #dropdown-menu li {
        opacity: 0;
        transform: translateY(20px); /* Optional: Add a subtle vertical transition effect */
        transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    }
    
    #dropdown-menu.show-dropdown-menu li {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 100ms; /* Adjust the delay value for each menu item */
    }
}
@media only screen and (max-width: 400px) {
    #select-project button {
        width: 180px;
        height: 50px;
        font-size: 25px;
    }
    #dropdown-menu > li > button {
        font-size: 25px;
    }
}
 /* CODEPEN PROJECT SECTION STARTS */
  
 
  #projects {
    width: 100%;
    font-family: coding;
    text-align: center;
    font-size: 50px;
    text-underline-offset: 20px;
    padding-top: 50px;
    color: white;
  }
  


  .project-tile {
    display: flex;
    max-width: 1600px;
    padding: 70px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }

  .project {
    position: relative;
    width: 500px;
    height: 100%;
    margin: 40px 10px 40px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #242582;
    text-align: center;
  }
  /* .unity-projects > .project:nth-child(1) {
    width: 1080px;
    height: 385px;
  }
  .unity-projects > .project:nth-child(2) {
    width: 1180px; 
    height: 932px;
  } */
  .project > a, 
  .project > ul > li > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: #242582;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .project-codepen {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 20px 20px 0px 0px;
  }
  
  .project > ul > li {
    object-fit: contain;
    height: 100%;
  }

  .project > a > label,
    .project > .carousel > ul > li > a > label {
    cursor: pointer;
    color: white;
    font-size: 30px;
    width: 281px;
    height: 200px;
    transition: 0.3s ease-in-out;
  }

  label {
    font-size: 30px;
  }

  a > span {
    font-size: 25px;
    color: #f64c72;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .project > a:hover > span {
    opacity: 1;
  }

  @media only screen and (max-width: 1200px) {
    .project {
      justify-content: center;
      margin: 40px auto 40px auto;
    }
  }
  @media only screen and (max-width: 900px) {  
    .project-tile {
      max-width: 600px;
    }
  
    #projects {
      font-size: 30px;
    }
  
    .project {
      width: 400px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    .project > a > label {
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 620px) {  
    #projects {
      font-size: 25px;
    }
  
    .project-tile {
      width: 90%;
      padding: 0;
    }
  
    .project {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
    } 
    .border-bottom2 {
        padding-top: 50px;
    }
  }
  
  @media only screen and (max-width: 400px) {  
    #projects {
      font-size: 19px;
    }
    
    .project > a > span {
        display: none;
    }

    .project > a > label {
      font-size: 20px;
    }

    .project > label {
        font-size: 20px;
    }
}

 /* CODEPEN PROJECT SECTION ENDS */


 /* ------------------------------- */
 /* ------------------------------- */
 /*     PROJECT SECTION FINISHED    */
 /* ------------------------------- */
 /* ------------------------------- */
 
 .carousel {
     width: 100%;
     height: 100%;
     position: relative;
     border-radius: 80px;
 }
 .carousel > ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .data-slides {
    position: relative;
 }
 .slide {
    position: absolute;
    visibility: hidden;
    inset: 0;
    opacity: 0;
    transition: visibility 5s linear, opacity 0.5s linear;
}

.slide[data-active] {
    position: relative;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition-delay: 0s;
}


 .slide > img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 20px 20px 0px 0px;
 }
 .carousel-button {
     position: absolute;
     z-index: 2;
     background: none;
     border: none;
     border-radius: .25rem;
     font-size: 2.5rem;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     color: rgba(255,255,255,.5);
     outline: none;
     padding: 0 .25rem;
     background-color: rgba(0,0,0,.1);
 }
 .carousel-button.prev {
     left: 1rem;
 }
 .carousel-button.next {
     right: 1rem;
 }
 .carousel-button:hover {
     color: rgb(220,220,220);
     background-color: rgba(0,0,0,.2);
 }
 .carousel-button:active {
    color: rgb(250,250,250);
    background-color: rgba(0,0,0,.4);
}
 .input-slides {
     width: 100%;
     position: absolute;
     bottom: -35px;
     /* bottom: 0.5rem; */
     z-index: 1;
 }
 .input-slides input {
     font-size: 4rem;
     cursor: pointer;
 }
 .input-slides input:checked {
     color: black;
 }


 .border-bottom {
    margin: auto;
    width: 400px;
    border-bottom: solid rgb(0, 0, 0) 3px;
}

/* INFOO */

#info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 800px;
    /* padding: 50px; */
    /* margin: 50px; */
}

.one-section {
    width: 800px;
}
.second-section {
    margin-right: 100px;
    width: 600px; /* to take more space */
}
.my-img {
    display: inline-block;
    width: 350px;
    border-radius: 50%;
    cursor: pointer;
   }
.me-text {
    display: inline-block;
    position: relative;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    width: 350px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(230,230,230);
    text-align: justify;
    transition: 1s ease-in-out all;
}
#aboutme-link {
   color: rgb(108, 176, 210);
   text-underline-offset: 3px;
   font-size: inherit;
   text-decoration: underline;
   transition: color 150ms;
}
#email-me {
    border-radius: 20px;
    outline: 2px solid black;
    padding: 10px 20px;
    font-size: 25px;
    width: 450px;
    height: 550px;
}
#email-me > .modal-input-field input {
    font-size: 20px;
}
#email-me > .modal-input-field textarea {
    font-size: 20px;
}
#email-me > .modal-input-field label {
    font-size: 20px;
}
#aboutme-link:hover {
   color: rgb(70, 125, 153);

}

.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }

  .fade-in.animate {
    opacity: 1;
  }

  .slide-in {
    position: relative;
    transform: translateX(-20%);
    transition: transform 1.5s ease-in-out,
    opacity 1.5s ease-in-out;
  }

  .slide-in.animate {
    opacity: 1;
    transform: translateX(20%);
    transition: transform 1.5s ease-in-out,
    opacity 1.5s ease-in-out;
  }

  .slide-out {
    position: relative;
    transform: translateX(50%);
    transition: transform 1s ease-in-out;
  }
  .slide-out.animate {
    transform: translateX(10%);
  }
@media screen and (max-width: 1600px) {
    #info-section {
        justify-content: space-between;
    }
    .one-section {
        width: 1000px;
    }
    .second-section {
        width: 700px;
        margin-right: 20px;
    }
    .my-img {
        width: 300px;
    }
    .me-text {
        width: 300px;
        font-size: 18px;
    }
    #email-me {
        width: 400px;
        font-size: 20px;
    }
    #email-me > .modal-input-field input {
        font-size: 18px;
    }
    #email-me > .modal-input-field textarea {
        font-size: 18px;
    }
    #email-me > .modal-input-field label {
        font-size: 18px;
    }
}
@media screen and (max-width: 1200px) {
    #info-section {
        justify-content: space-around;
    }
    .one-section {
        width: 300px;
        margin-left:  70px;
    }
    .second-section {
        width: 400px;
        margin-right: 50px;
    }
    .my-img {
        width: 280px;
    }
    .me-text {
        margin-right: 50px;
        width: 300px;
        font-size: 15px;
    }
    #email-me {
        width: 350px;
        height: 500px;
        font-size: 20px;
        padding: 1px 20px;
    }
    #email-me > .modal-input-field textarea {
        font-size: 16px;
        height: 100px;
    }


    .slide-out {
        transform: translateY(40%);
    }
    .slide-out.animate {
        transform: translateY(0%);
    }
    .slide-in {
        transform: translateY(20%);
    }
      
    .slide-in.animate {
        transform: translateY(0%);
    }
}
@media screen and (max-width: 1000px) {
    #info-section {
        justify-content: space-around;
    }
    .one-section {
        width: 300px;
        margin-left: 40px;
    }
    .second-section {
        width: 300px;
        margin-right: 0px;
    }
    .me-text {
        margin-right: 50px;
        width: 300px;
        font-size: 15px;
    }
    .my-img {
        margin-left: 20px;
        width: 250px;
    }
    #email-me {
        width: 300px;
        height: 405px;
        font-size: 20px;
        padding: 1px 20px;
    }
    #email-me  > .message-icon {
        margin-top: 20px;
    }
    #email-me > .modal-input-field {
        margin-top: 35px;
        padding-left: 7px;
    }
    #email-me > .modal-input-field:nth-child(2) > i {
        margin-top: 5px;
    }
    #email-me > .modal-input-field:nth-child(3) > i {
        margin-top: 5px;
    }
    #email-me > .modal-input-field textarea {
        font-size: 16px;
        height: 100px;
        padding-right: 3px;
        padding-top: 15px;
    }
    #email-me > .modal-input-field label[for="email"] {
        margin-left: 7px;
    }
    #email-me > .modal-input-field label[for="message"] {
        margin-left: 7px;
    }
}
@media screen and (max-width: 750px) {
    #info-section {
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
        flex-direction: column;
    }
    .one-section {
        margin-bottom: 50px;
        margin-left: 0px;
    }
    .me-text {
        font-size: 13px;
    }
    #email-me {
        width: 300px;
        height: 400px;
        font-size: 20px;
        padding: 1px 20px;
    }
    #email-me  > .message-icon {
        margin-top: 20px;
    }
    #email-me  > .message-icon > i{
        font-size: 20px;
    }
    #email-me  > .message-icon > span{
        font-size: 20px;
    }
    #email-me > .modal-input-field:nth-child(1) {
        margin-bottom: 20px;
        padding-left: 10px;
    }
    #email-me > .modal-input-field > label{
        font-size: 15px;
    }
    .slide-out {
        transform: translateY(30%);
    }
    .slide-out.animate {
        transform: translateY(0%);
    }
    .slide-in {
        transform: translateY(20%);
    }
      
    .slide-in.animate {
        transform: translateY(0%);
    }
}
@media screen and (max-width: 750px) {
    .my-img {
        width: 200px;
        margin-left: 40px;
    }
}
@media screen and (max-width: 450px) {
    .my-img {
        width: 150px;
        margin-left: 70px;
    }
    .me-text {
        width: 275px;
        font-size: 12px;
        margin-left: 10px;
    }
    .slide-out {
        transform: translateY(60%);
    }
    .slide-out.animate {
        transform: translateY(0%);
    }
}
@media screen and (max-width: 400px) {
    .second-section {
        width: 250px;
    }
    .me-text {
        width: 250px;
        margin-left: 25px;
        font-size: 11px;
    }
    #email-me {
        width: 100%;
        height: 395px;
    }
    #email-me  > .message-icon > i {
        font-size: 35px;
    }
    #email-me > .modal-input-field {
        margin-top: 35px;
        padding-left: 7px;
    }
    #email-me > .modal-input-field:nth-child(2) > i {
        margin-top: 7px;
    }
    #email-me > .modal-input-field:nth-child(3) > i {
        margin-top: 7px;
    }
    #email-me > .modal-input-field textarea {
        font-size: 16px;
        height: 100px;
        padding-right: 5px;
        padding-top: 10px;
    }
    #email-me > .modal-input-field input {
        font-size: 16px;
        padding-left: 10px;
    }
    #email-me > .modal-input-field label[for="email"] {
        margin-left: 10px;
    }
    #email-me > .modal-input-field label[for="message"] {
        margin-left: 10px;
    }
}
/* END OF INFO */
    /* FOOTER */
 
 .footer {
     position: relative;
     box-sizing: border-box;
     padding-top: 30px;
     /* background-color: #304146; */
 }
 .footer .social {
     text-align: center;
     padding-bottom: 10px;
     /* color: #4b4c4d; */
 }
 .footer .social a {
     font-size: 25px;
     background-color: rgb(245, 243, 243);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
     /* border: 1px solid white; */
     width: 43px;
     height: 43px;
     display: inline-block;
     align-items: center;
     text-align: center;
     border-radius: 50%;
     margin: 0px 8px;
     transition: transform 300ms;
 }
 .footer .social a:hover {
     transform: translateY(-10%);
 }
 .footer .social .fab {
     font-size: 33px;
     color: #000;
     transition: 300ms;
     background-color: transparent;
     top: 50%;
     transform: translateY(15%);
 
 }
  
 .footer ul {
     height: 30px;
     margin-top: 0;
     padding: 0;
     list-style: none;
     font-size: 18px;
     line-height: 1.6;
     margin-bottom: 0;
     text-align: center;
 }
 .footer ul li {
     display: inline-block;
     margin-top: 10px;
     padding: 0px 20px;
 }
 .footer ul li a {
     text-decoration: none;
     opacity: 0.8;
     transition: 300ms;
 }
 .footer ul li a:hover {
     color: #0088a9;
     font-size: 20px;
 }
 .footer .copyright {
    margin-top: 25px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    font-size: 13px;
    color: #aaa;
}

@media screen and (max-width: 800px) {
 .footer .social a {
    width: 37px;
    height: 37px;
    margin-top: 10px;
 }
 .footer .social .fab {
    font-size: 29px;
 }
 .footer .social a {
    font-size: 15px;
 }
 .footer ul li a {
    font-size: 15px;
 }
 .footer .copyright {
    font-size: 10px;
 }
}
